/* 
font-family: 'Open Sans', sans-serif; 
*/
/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* global css start */
* {
  margin: 0; 
  padding: 0; 
  font-family: 'Open Sans', sans-serif; 
} 
a { 
  text-decoration: none; 
}
.py {
  padding: 5rem 0;
}
/* Banner css */
header {
  background: url(../img/apple-desk-bg.png) center no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
header .overlay {
  background-color: rgba(0,0,0,0.7);
}
/* header .container-md {
  position: relative;
} */
.nav-link {
  color: #eeeeee;
}
.nav-link:hover {
  color: inherit;
}
.nav-link::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #ffb233;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 15%;
  transition: 250ms;
}
.nav-link:hover::after {
  width: 70%;
}
.nav-link.active {
  color: #ffb233;
}
/* header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
} */
header .nav-link {
  position: relative;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #ffb233;
}
.fa-bars {
  color: #ffffff;
}
.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 0.625rem;
}
.banner-content h1 {
  font-size: 52px;
  text-transform: uppercase;
  font-size: 5.2em;
}
.banner-content h1:nth-child(2) {
  margin-bottom: 30px;
}
.banner-content h5 {
  font-size: 3em;
}
header .fa-chevron-down {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ffb233;
  cursor: pointer;
  color: white;
}
/* About Section  */
#about {
  text-align: center;
}
#about h2 {
  font-size: 32px;
  text-transform: uppercase;
  padding-bottom: 40px;
}
#about img {
  padding-bottom: 40px;
}
#about p:nth-child(3) {
  color: #666666;
  padding-bottom: 20px;
}
#about .container p:nth-child(4) {
  padding-bottom: 40px;
  color: #333333;
  width: min( 600px, 90% );
  margin: 0 auto;
}
#about ul {
  padding: 30px;
}
#about li {
  padding: 0 20px;
  list-style-type: none;
  display: inline-block;
}
#about li i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #c6c6c6;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  transition: 200ms;
}
#about li i:hover {
  background-color: #ffb233;
}
#about button {
  padding: .5rem 3rem;
  color: var(--bs-success);
}
/* skill section */
.skills {
  background: url(../img/suggesstion-bg.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.skills::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.skills .container {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 6rem;
}
.skills h3 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 60px;
}
.skills div i {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #ffb233;
  border-radius: 50%;
  font-size: 3rem;
  margin-bottom: 30px;
  transition: box-shadow 200ms;
}
.skills i:hover {
  box-shadow: 0 0 0 6px rgba(255, 178, 51, 0.5);
}
.skills div p {
  font-size: 18px;
  margin-bottom: 70px;
}
/* counter section css */
.counter {
  background-color: #f3f3f3;
  padding: 6rem 0;
  text-align: center;
}
.counter .col-md-3 h3{
  font-size: 45px;
  line-height: 54px;
  color: #444444;
  font-weight: 700;
}
.counter .col-md-3 hr {
  border-top: 3px solid #51a351;
  width: 25%;
  opacity: 1;
}
.counter .col-md-3 p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 44px;
  color: #444444;
  margin-bottom: 60px;
}
/* portfolio section */
.portfolio h2 {
  font-size: 32px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.portfolio ul li.active a {
  position: relative;
}
.portfolio ul li.active a::after {
  content: '';
  display: inline-block;
  height: 2.5px;
  bottom: -8px;
  left: 15%;
  width: 70%;
  position: absolute;
  background-color: #19bd9a;
}
.portfolio .row {
  padding-inline: 7rem;
}
.portfolio .item img {
  width: 100%;
}
.portfolio .item {
  position: relative;
}
.portfolio .img-details {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transform: scale(0);
  transition: 250ms;
}
.portfolio .item:hover .img-details {
  transform: scale(1);
}
.portfolio .item .img-details h3 {
  color: #19bd9a;
}
.portfolio .item .img-details hr {
  border-top: 2px solid #19bd9a;
  width: 15%;
  opacity: 1;
}
.portfolio .item .img-details p {
  color: #9d9d9d;
}
.portfolio .item .img-details button {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  border: 2px solid #9d9d9d;
  border-radius: 50%;
  color: #9d9d9d;
}
/* testimonial section */
.testimonial {
  background: url(../img/tstmnl-bg.png) center no-repeat;
}
.testimonial h2 {
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 32px;
}
.owl-item p {
  width: min(600px, 90%);
  margin: 0 auto;
  color: #333333;
  line-height: 40px;
  font-size: 18px;
}
.owl-item img {
  margin: 80px auto 20px auto;
  width: 70px !important;
}
.owl-dot:focus {
  outline: none;
}
.owl-prev, .owl-next {
  display: none !important;
}
/* footer section */
footer {
  background: url(../img/contact-bg.png) center no-repeat;
  background-size: cover;
  color: white;
}
footer .col-md-4 h2 {
  font-size: 32px;
  letter-spacing: 6px;
  line-height: 58px;
}
footer .col-md-4 p {
  line-height: 28px;
}
footer .col-md-4 a {
  text-decoration: underline;
  color: white;
}
footer .col-md-3 {
  padding-top: 12px;
}
footer .col-md-3 .sub-contacts {
  padding-bottom: 10px;
}
footer .col-md-3 .sub-contacts h6 {
  line-height: 28px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer .col-md-3 .sub-contacts p {
  font-size: 20px;
}
footer .form {
  width: min(600px, 95%);
  margin:auto;
  text-align: center;
  margin: 80px auto 60px;
}
footer .form > * {
  padding: 16px 24px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 15px;
  background-color: transparent;
  color: white;
  opacity: 1;
  margin-bottom: 20px;
  border: 1px solid white;
  transition: 250ms;
}
footer .form *::placeholder {
  color: white;
  opacity: 1;
}
footer .form *:nth-child(1):focus,
footer .form *:nth-child(2):focus,
footer .form *:nth-child(3):focus {
  outline: none;
  border-color: #ffb233;
}

footer .form input:nth-child(1) {
  width: 48%;
  float: left;
}
footer .form input:nth-child(2) {
  width: 48%;
  float: right;
}
footer .form textarea:nth-child(3) {
  width: 100%;
}
footer .form input:nth-child(4) {
  background-color: #51a351;
  border-color: #51a351;
  width: 100%;
  border-radius: 5px;
}
footer .form input:nth-child(4):hover {
  background-color: #19bd9a;
  border-color: #19bd9a;
} 
footer .container > p {
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 26px;
}
/* media query */
@media ( min-width: 992px ) and ( max-width: 1199px ) {
  .banner-content {
    height: 40vh;
  }
  .portfolio .row {
    padding-inline: 1rem;
  }
}
@media ( min-width: 768px ) and ( max-width: 991px ) {
  .banner-content {
    height: 30vh;
  }
  .portfolio .row {
    padding-inline: 1rem;
  }
  .portfolio .item .img-details h3 {
    font-size: 24px;
  }
  .portfolio .img-details hr {
    margin-block: 0.5rem;
  }
  .portfolio .img-details {
    /* position: static; */
    /* transform: scale(1); */
    /* padding: 20px; */
  }
  .portfolio .item .img-details p {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
}
@media ( min-width: 576px ) and ( max-width: 767px ) {
  .banner-content {
    height: 50vh;
  }
  .py {
  padding: 3rem 0;
  }
  .nav-item {
    margin-right: 0 !important;
  }
  .banner-content {
    font-size: 0.5rem;
  }
  .py {
    padding: 3rem 0;
  }
  .portfolio .row {
    padding-inline: 1rem;
  }
  .portfolio .item {
    display: flex;
  }
  .portfolio .item .img-details p {
    font-size: 14px;
  }
  .portfolio .item .img-details {
    position: static;
    transform: scale(1);
    width: 70%;
  } 
  footer.py {
    padding-bottom: 1rem;
  }
}
@media ( max-width: 575px ) {
  .py {
    padding: 2rem 0 !important;
  }
  header .overlay .container {
    padding-bottom: 30px !important;
  }
  .banner-content {
    padding-top: 30px;
    height: auto;
  }
  .banner-content h1 {
    font-size: 32px;
  }
  .fa-chevron-down {
    display: none;
  }
  #about h2 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  #about img {
    padding-bottom: 10px;
  }
  #about p:nth-child(3) {
    padding-bottom: 0;
  }
  #about p:nth-child(4) {
    padding-bottom: 0 !important;
  }
  #about ul {
    padding: 20px;
  }
  .skills {
    padding: 30px 0;
  }
  .skills::before {
    top: 0;
  }
  .skills .container {
    padding: 1rem;
  }
  .skills .container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skills .container .row {
    width: 80%;
    margin: 0 auto;
  }
  .skills div i {
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 0px;
  }
  .skills .container .col-sm-6 {
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
  }
  .skills .container .col-sm-6 p {
    margin: auto;
  }
  .counter {
    padding: 2rem 0;
    text-align: center;
  }
  .counter .col-sm-6 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }
  .counter .col-sm-6 hr {
    display: none;
  }
  .counter .col-sm-6 h3 {
    font-size: 32px;
    width: 30%;
  }
  .counter .col-sm-6 p {
    width: 70%;
    font-size: 16px;
    margin: auto;
  }
  .portfolio ul li {
    margin: 0 !important;
    padding: 4px;
  }
  .portfolio ul li a {
    font-size: 14px;
  }
  .portfolio .row {
    padding-inline: 1rem;
  }
  .portfolio .item {
    width: 80%;
    margin-inline: auto;
  }
  .portfolio .img-details {
    position: static;
    transform: scale(1);
    padding: 20px;
  }
  .testimonial h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .testimonial p {
    font-size: 16px;
    line-height: 28px;
  }
  .testimonial img {
    margin: 20px auto;
  }
  footer .py {
    padding-bottom: 0 !important;
  }
  footer .col-md-4 h2 {
    font-size: 32px;
    line-height: 40px;
  }
  footer .col-md-3 .sub-contacts {
    padding-bottom: 0;
  }
  footer .form {
    margin: 20px auto 0 auto;
  }
  footer .form input {
    width: 100% !important;
  }
  footer .container > p {
    margin-bottom: 0;
  }
}